/* typography */
body {
  font-family: "Montserrat", sans-serif;
  color: #31456A;
  overflow-x: hidden;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.35;
}

@media (max-width: 575px) {
  h1, .h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.2;
}

@media (max-width: 575px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

h3.prices-title {
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 1.2;
}

h3.prices-title.prices-business-title {
  color: #F47960;
}

h4 {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.83;
}

label {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 1199px) {
  label {
    font-size: 1rem;
  }
}

.contact-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.22;
  color: rgba(49, 69, 106, 0.8);
}

.pricing-bold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

/* base & button styles */
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-lp {
  font-weight: 600;
  color: #ffffff;
  border-color: #12AF96;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25), inset 1px 1px 8px #12AF96;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25), inset 1px 1px 8px #12AF96;
  background-color: #12AF96;
}

.btn-lp:hover {
  color: #ffffff;
  border-color: #0d816e;
  background-color: #0d816e;
}

.btn-lp.btn-trial {
  padding: 1.032rem 2.625rem;
  border-radius: 16px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
}

@media (max-width: 575px) {
  .btn-lp.btn-trial {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}

.btn-lp.btn-prices {
  padding: 0.8125rem 1.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625;
  border-radius: 10px;
}

.btn-lp.btn-business-prices {
  padding: 0.688rem 1.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625;
  border-radius: 10px;
}

.btn-calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 50%;
}

.btn-calc.btn-calc-close {
  width: 2rem;
  height: 2rem;
  background: #FF5D17;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-calc.btn-calc-close:hover {
  background: #e34400;
}

.btn-calc.btn-calc-add {
  width: 2.875rem;
  height: 2.875rem;
  background: #11A088;
}

.btn-calc.btn-calc-add:hover {
  background: #0c7261;
}

.btn-contact {
  padding: 1.032rem 5.125rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.22;
  color: #ffffff;
  -webkit-box-shadow: 10px 4px 24px rgba(169, 156, 156, 0.25);
          box-shadow: 10px 4px 24px rgba(169, 156, 156, 0.25);
  border-radius: 16px;
  background: #31456A;
}

@media (max-width: 575px) {
  .btn-contact {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}

.btn-contact:hover {
  color: #ffffff;
  border-color: #212e47;
  background-color: #212e47;
}

/* navigation */
.main-header .navbar {
  height: 135px;
}

@media (max-width: 1199px) {
  .main-header .navbar {
    height: 92px;
    background: rgba(0, 0, 0, 0.05);
  }
}

.main-header .navbar-brand img {
  max-width: 104px;
}

@media (max-width: 1199px) {
  .main-header .navbar-brand img {
    max-width: 80px;
  }
}

.main-header .navbar-toggler {
  position: relative;
  width: 30px;
  height: 24px;
  border: 0;
  outline: none;
}

@media (max-width: 1199px) {
  .main-header .navbar-collapse {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100%;
    -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
    background: #F5F6F6;
    z-index: 10000;
  }
}

@media (max-width: 1199px) {
  .header-nav {
    padding-top: 1.5rem;
    text-align: center;
  }
}

.header-nav .nav-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header-nav .nav-link {
  color: #31456A;
}

.header-nav .nav-link:hover, .header-nav .nav-link:active {
  color: #415c8d;
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .navbar-login {
    text-align: center;
  }
}

.navbar-login .btn-lp {
  padding: 0.45rem 2.3rem;
  border-radius: 12px;
}

.navbar-login .btn-link {
  color: #31456A;
  font-weight: 600;
}

/* mobile opener button */
.nav-opener {
  position: absolute;
  width: 30px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 0px;
  background: transparent;
}

.nav-opener:before, .nav-opener:after,
.nav-opener span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 0px;
  background: #31456A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-opener:before {
  content: '';
  top: 11px;
}

.nav-opener:after {
  content: '';
  top: 22px;
}

.navbar-toggler[aria-expanded="true"] .nav-opener {
  height: 24px;
}

.navbar-toggler[aria-expanded="true"] .nav-opener span {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .nav-opener:before {
  top: 11px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .nav-opener:after {
  top: 11px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* hero section */
.hero-section {
  position: relative;
  padding-bottom: 5rem;
}

.hero-section .carousel {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #EFF2F4;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EFF2F4;
}

.hero-section .carousel-item {
  height: 600px;
}

.hero-section .carousel-item.active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero-section .carousel-item-content {
  height: 100%;
  padding-top: 5rem;
}

.hero-section .carousel-item-content h1 {
  max-width: 680px;
}

@media (max-width: 575px) {
  .hero-section .carousel-item-content h1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.hero-section .carousel-item-content .subtitle {
  max-width: 485px;
  margin-top: 1.5rem;
}

@media (max-width: 575px) {
  .hero-section .carousel-item-content .subtitle {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.hero-section .carousel-indicators {
  bottom: -10px;
}

.hero-section .carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid #31456A;
  -webkit-box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px #D1D9E6;
          box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px #D1D9E6;
  opacity: 1;
  vertical-align: middle;
}

.hero-section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid #12AF96;
  background: #11A088;
}

.hero-list {
  margin-bottom: 3.75rem;
}

.hero-list li {
  margin-left: 1.625rem;
  margin-right: 1.625rem;
}

@media (max-width: 575px) {
  .hero-list li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.hero-btn {
  margin-top: 3rem;
}

@media (max-width: 575px) {
  .hero-btn {
    margin-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.hero-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-images img {
  position: absolute;
}

.hero-images .hero-image-left {
  left: 0;
  bottom: 3.25rem;
}

@media (max-width: 1199px) {
  .hero-images .hero-image-left {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .hero-images .hero-image-left {
    display: none;
  }
}

.hero-images .hero-image-right {
  right: 0;
  bottom: 0.75rem;
}

@media (max-width: 1199px) {
  .hero-images .hero-image-right {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .hero-images .hero-image-right {
    display: none;
  }
}

/* features section */
.features {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  .features {
    padding-top: 0;
  }
}

.features-card {
  height: auto;
  min-height: 25rem;
  margin-bottom: 30px;
  padding-top: 4.25rem;
  padding-bottom: 1rem;
  border: none;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 575px) {
  .features-card {
    min-height: auto;
  }
}

.features-card img {
  max-width: 100px;
}

.features-card h3 {
  margin-top: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.features-card .card-body {
  padding-top: 0.75rem;
  padding-bottom: 0;
}

@media (max-width: 575px) {
  .features-card .card-body {
    padding-bottom: 2.25rem;
  }
}

.features-card .card-text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.785;
}

.features-card:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#31456A), to(#182642)), #31456A;
  background: linear-gradient(180deg, #31456A 0%, #182642 100%), #31456A;
}

.features-card:hover h3,
.features-card:hover .card-text {
  color: #ffffff;
}

/* advantages section */
.advantages {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.advantages-card {
  border: none;
}

@media (max-width: 991px) {
  .advantages-card {
    height: auto;
    margin-top: 4rem;
  }
}

.advantages-card h3 {
  margin-top: 3rem;
}

@media (max-width: 991px) {
  .advantages-card h3 {
    margin-top: 1.5rem;
  }
}

/* how-it-works section */
.how-it-works {
  position: relative;
  padding-top: 4.75rem;
  padding-bottom: 6rem;
  background: #1B2A45;
}

@media (max-width: 767px) {
  .how-it-works {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

.how-it-works h2 {
  color: #ffffff;
}

.how-it-works .card {
  background: transparent;
}

.how-card {
  border: none;
}

@media (max-width: 991px) {
  .how-card {
    margin-top: 2rem;
  }
}

.how-card h3 {
  margin-top: 2.5rem;
  color: #ffffff;
  font-weight: 500;
}

@media (max-width: 991px) {
  .how-card h3 {
    margin-top: 1.5rem;
  }
}

.how-card sup {
  top: -0.75rem;
  right: 0.35rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.2);
}

.how-card sup.active {
  color: #11A088;
}

.how-card img {
  max-width: 220px;
}

.advantages-btn {
  position: absolute;
  width: 100%;
  bottom: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 575px) {
  .advantages-btn {
    bottom: -23px;
  }
}

/* prices section */
.prices {
  padding-top: 14rem;
  padding-bottom: 5rem;
  background: #ffffff url("../img/prices-bkgr.png") right 24px bottom 24px no-repeat;
}

@media (max-width: 1199px) {
  .prices {
    padding-top: 10rem;
    background-position: center bottom;
  }
}

@media (max-width: 991px) {
  .prices {
    padding-top: 7rem;
    background-position: center;
  }
}

.prices-card {
  border: 1px solid #D1D9E6;
  border-radius: 1.25rem;
  background: #ffffff;
}

.prices-card::before {
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 340px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
  text-align: center;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  -webkit-transform: rotate(270deg) translateX(-50%);
  transform: rotate(270deg) translateX(-50%);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

@media (max-width: 575px) {
  .prices-card::before {
    top: -40px;
    bottom: auto;
    width: 100%;
    -webkit-transform: none;
    transform: none;
  }
}

.prices-card::after {
  position: absolute;
}

.prices-card.prices-trial-card::before {
  content: 'Free /  7-Day Trial';
  background: #31456A;
}

.prices-card.prices-trial-card::after {
  content: url("../img/prices-card-left.png");
  left: -235px;
  bottom: 0;
}

@media (max-width: 1199px) {
  .prices-card.prices-trial-card::after {
    content: '';
  }
}

.prices-card.prices-business-card {
  margin-left: 4rem;
}

@media (max-width: 991px) {
  .prices-card.prices-business-card {
    margin-left: 0;
    margin-top: 5rem;
  }
}

.prices-card.prices-business-card::before {
  content: '$ 2.99 / per instance per month';
  background: #F47960;
}

.prices-card.prices-business-card::after {
  content: url("../img/prices-card-right.png");
  right: -260px;
  bottom: -100px;
}

@media (max-width: 1199px) {
  .prices-card.prices-business-card::after {
    content: '';
  }
}

.prices-card .card-body {
  padding: 40px 50px;
}

@media (max-width: 575px) {
  .prices-card .card-body {
    padding: 40px 20px;
  }
}

.prices-list {
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5;
}

.prices-list li {
  position: relative;
  padding-left: 24px;
}

.prices-list li::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #11A088;
}

.prices-btn-left {
  padding-top: 2px;
}

.prices-btn-small {
  padding-left: 5px;
  font-size: 0.5625rem;
}

.prices-business::after {
  position: absolute;
  content: 'Prices are in USD and exclude 10% Tax';
  bottom: -28px;
  left: 5rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.0625;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .prices-business::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* FAQs section */
.faqs {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

@media (max-width: 1199px) {
  .faqs {
    padding-top: 4.5rem;
  }
}

@media (max-width: 991px) {
  .faqs {
    padding-top: 2rem;
  }
}

.faqs-questions {
  max-width: 570px;
}

@media (max-width: 991px) {
  .faqs-questions {
    text-align: center;
  }
}

.faqs-question h3 {
  margin-bottom: 1.5rem;
}

/* testimonials */
.testimonials {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

@media (max-width: 991px) {
  .testimonials {
    padding-top: 0;
  }
}

.testimonials .carousel {
  max-width: 800px;
  padding-left: 12px;
  padding-right: 12px;
}

.testimonials .carousel-indicators {
  bottom: -50px;
}

.testimonials .carousel-indicators li {
  height: 4px;
  width: 50px;
  margin-left: 0;
  margin-right: 0;
  border: none;
  opacity: 1;
  background: #D1D9E6;
}

.testimonials .carousel-indicators li.active {
  background: #12AF96;
}

.testimonials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem;
  -webkit-box-shadow: -8px -8px 20px #FFFFFF;
          box-shadow: -8px -8px 20px #FFFFFF;
  border-radius: 1rem;
  background: #EFF2F4;
}

@media (max-width: 767px) {
  .testimonials-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 260px;
}

@media (max-width: 767px) {
  .testimonials-image {
    padding-bottom: 2rem;
    max-width: none;
  }
}

.testimonials-image img {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.testimonials-image .testimonials-name {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.testimonials-image .testimonials-position {
  margin-bottom: 0.25rem;
  line-height: 1.25;
  font-style: italic;
}

.testimonials-content {
  position: relative;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
}

@media (max-width: 767px) {
  .testimonials-content {
    padding-left: 0;
  }
}

.testimonials-content h3 {
  padding-right: 2rem;
  line-height: 1.65;
}

.testimonials-content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.0625;
}

.testimonials-content time {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* calculator section */
.calculator {
  padding-top: 4.5rem;
  padding-bottom: 1rem;
  background: #EFF2F4;
}

.calculator-inner {
  max-width: 1200px;
  min-height: 20rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background: url("../img/calc-img.png") right 76px top 66px no-repeat;
}

@media (max-width: 1199px) {
  .calculator-inner {
    background-position: right 0 top 66px;
  }
}

@media (max-width: 991px) {
  .calculator-inner {
    padding-top: 0.5rem;
    background: none;
  }
}

.calc-form input,
.calc-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.calc-form select {
  background: url("../img/icon-arrow-down.png") right 1rem center no-repeat;
}

.calc-form select.calc-select-time {
  background: url("../img/icon-arrow-down.png") right 1rem center no-repeat, url("../img/icon-clock.png") left 1rem center no-repeat;
  background-color: #F7F8F9;
}

.calc-form label {
  margin-bottom: 0;
}

.calc-form .form-control {
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #31456A;
  font-weight: 300;
  background-color: #F7F8F9;
}

.calc-form .calc-number {
  width: 5.625rem;
  text-align: center;
}

.calc-form .calc-select-size {
  width: 14.125rem;
  padding-left: 1rem;
  padding-top: 0.625rem;
}

.calc-form .calc-select-cloud {
  width: 11rem;
  padding-left: 1rem;
  padding-top: 0.625rem;
}

.calc-form .calc-select-time {
  width: 13.375rem;
  padding-left: 3.5rem;
  padding-top: 0.625rem;
}

.calc-row {
  position: relative;
  padding-top: 2rem;
}

.calc-time::after {
  position: absolute;
  content: ' ';
  bottom: -40px;
  left: 15px;
  width: 80%;
  border: 1px solid #D5E2ED;
}

.calc-saving {
  margin-top: 4rem;
}

.calc-saving p {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.22;
}

@media (max-width: 767px) {
  .calc-saving p {
    font-size: 1.5rem;
  }
}

.calc-saving p span {
  color: #11A088;
}

/* footer (incl get-in-touch) */
.main-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #EFF2F4;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EFF2F4;
}

.main-footer h2 {
  display: inline-block;
  position: relative;
}

.main-footer h2::before {
  position: absolute;
  content: url("../img/icon-title-contact.png");
  top: -34px;
  left: -40px;
}

.main-footer-title {
  padding-top: 5rem;
}

.get-in-touch {
  max-width: 600px;
}

.contact-form .form-control {
  height: 3.375rem;
  padding-left: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #31456A;
  font-weight: 400;
  background: #ffffff;
}

.contact-form .form-control.contact-textarea {
  height: 11.875rem;
  padding-top: 1rem;
  padding-right: 2.25rem;
}

.contact-row {
  position: relative;
}

.contact-row::before {
  position: absolute;
}

@media (max-width: 767px) {
  .contact-row::before {
    display: none;
  }
}

.contact-row::after {
  position: absolute;
}

@media (max-width: 767px) {
  .contact-row::after {
    display: none;
  }
}

.contact-name-row::before {
  content: url("../img/contact-name-img.png");
  left: -20px;
  bottom: -7px;
}

.contact-tel-row::before {
  content: url("../img/contact-tel-img.png");
  left: -90px;
  bottom: -6px;
}

.contact-text-row::before {
  content: url("../img/contact-text-left.png");
  left: -243px;
  bottom: -18px;
  z-index: 10;
}

.contact-text-row::after {
  content: url("../img/contact-text-right.png");
  right: -132px;
  bottom: -52px;
  z-index: 10;
}

/* footer widgets */
.footer-widgets {
  padding-top: 4.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.93;
}

@media (max-width: 767px) {
  .footer-widgets {
    padding-top: 2.5rem;
  }
}

@media (max-width: 575px) {
  .footer-widgets {
    text-align: center;
  }
}

.logo-footer img {
  max-width: 93px;
}

.widget .widget-par {
  font-weight: 500;
}

.widget-list li {
  margin-bottom: 0.25rem;
}

.widget-list li:last-child {
  margin-bottom: 0;
}

.widget-list a {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.93;
  color: #31456A;
}

@media (max-width: 575px) {
  .copyright {
    text-align: center;
  }
}

.copyright p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.36;
  color: rgba(49, 69, 106, 0.5);
}

/* page prices section */
.page-pricing .prices {
  padding-top: 8rem;
}

@media (max-width: 991px) {
  .page-pricing .prices {
    padding-top: 3rem;
  }
}

@media (max-width: 575px) {
  .page-pricing .prices {
    padding-top: 5rem;
  }
}

.page-pricing-text {
  padding-top: 5rem;
}

@media (max-width: 991px) {
  .page-pricing-text {
    padding-top: 2rem;
  }
}

.page-pricing-text a {
  color: #31456A;
  font-weight: 500;
}

.page-pricing-text .prices-list {
  padding-top: 0.25rem;
  padding-left: 1rem;
  line-height: 2;
}

.page-pricing-text .prices-list li::before {
  width: 6px;
  height: 6px;
}
/*# sourceMappingURL=main.css.map */