/* hero section */
.hero-section {
  position: relative;
  padding-bottom: 5rem;

  .carousel {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EFF2F4;
  }
  .carousel-item {
    height: 600px;

    &.active {
      @include transition(all, 0.5s);
    }
  }
  .carousel-item-content {
    height: 100%;
    padding-top: 5rem;

    h1 {
      max-width: 680px;

      @include respond-to('sm') {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .subtitle {
      max-width: 485px;
      margin-top: 1.5rem;

      @include respond-to('sm') {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
  .carousel-indicators {
    bottom: -10px;

    li {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-left: 6px;
      margin-right: 6px;
      border-radius: 50%;
      border: 1px solid $main-color;
      box-shadow: -8px -8px 20px #FFFFFF, 8px 8px 20px #D1D9E6;
      opacity: 1;
      vertical-align: middle;

      &.active {
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-right: 4px;
        border: 1px solid $btn-color;
        background: $active-color;
      }
    }
  }
}
.hero-list {
  margin-bottom: 3.75rem;

  li {
    margin-left: 1.625rem;
    margin-right: 1.625rem;

    @include respond-to('sm') {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
.hero-btn {
  margin-top: 3rem;

  @include respond-to('sm') {
    margin-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.hero-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;

  img {
    position: absolute;
  }
  .hero-image-left {
    left: 0;
    bottom: 3.25rem;

    @include respond-to('xl') {
      width: 25%;
    }
    @include respond-to('md') {
      display: none;
    }
  }
  .hero-image-right {
    right: 0;
    bottom: 0.75rem;

    @include respond-to('xl') {
      width: 45%;
    }
    @include respond-to('md') {
      display: none;
    }
  }
}